body{
font-family:Segoe UI;
background:#f0f2f5;
padding:20px;
}

.card{
background:white;
padding:20px;
border-radius:12px;
max-width:600px;
margin:auto;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

input{
padding:6px;
margin:5px;
}

button{
padding:6px 10px;
background:#3498db;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}

.player{
display:flex;
justify-content:space-between;
margin-bottom:8px;
}

table{
width:100%;
border-collapse:collapse;
margin-top:15px;
}

td,th{
border-bottom:1px solid #ddd;
padding:6px;
}